
.wrapper {
width: 99%;
height: 300px;
border: 5px solid #515151;
background: url("Рисунок15.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
display: flex;
align-items: center;
justify-content: left;
background-color: rgba(0, 170, 238, 0.9);
}

h1 {color: rgba(255,255,255,0.8); 
font-size: 50px; 
font-weight: 5px;
text-align: left;
padding: 0px 0px 0px 0px; 
margin: 0px 0px 50px 0px;
border-color: black;

}

h2 {color: rgba(255,255,255,0.8); 
font-size: 40px; 
font-weight: 600px;
text-align: center;
padding: 20px 20px 20px 20px; 
margin: 60px 500px 20px 10px;}

.grid-container5 {
width: 99%;
height: 300px;
border: 5px solid #515151;
background: url('Рисунок3.jpg');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
display: grid;
grid-gap:1px;
text-align: center;
grid-template-areas:
"one1 one2 one3";
justify-items:stretch;
align-items:stretch;
}

.one1 {grid-area: one1;}
.one2 {grid-area: one2;}
.one3 {grid-area: one3;}

.one1 {
height: 280px;
border: 5px solid #515151;
background: url('Рисунок7.jpg');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
padding: 5px 5px 10px 4px;
margin: 0px 0px 5px 0px;
text-align: center;
align-items: center;
width: 99%;
border: 3px solid #FFFF00;
border-radius: 10px 40px;
}

.one3 {
height: 280px;
border: 5px solid #515151;
background: url('Рисунок8.jpg');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
padding: 5px 1px 10px 4px;
margin: 0px 0px 5px 0px;
text-align: center;
align-items: center;
width: 99%;
border: 3px solid #FFFF00;
border-radius: 40px 10px;
}


.one2
{padding: 0px -40px 5px -60px;
margin: 1px 5px 1px 20px;
height:288px;
text-align: center;
align-items: center;
border: 3px solid #00FF00
min-width: 80px;
}



.item1 {
margin: 60px 0px 0px 0px;
padding:0px 0px 0px 0px;
border: 3px solid #00FF00
border-radius:5px;
color: #FFFF00;
font-weight: normal;
font-size: 30px;
font-family: 'Arial';
border-radius: 40px 10px;
text-decoration: underline;
text-align: center;
min-width: 30px;
}

.group { 
margin: 30px 0px 0px 20px
padding:20px 25px 20px 30px
font-weight: normal;
font-size: 35px;
font-family: 'Arial';
text-decoration: underline;
text-align: center;
font-weight: bold;
min-width: 30px;

}



#image50 {
width: 380px;
height: 280px;
padding: 0px 0px 0px 0px;
object-fit: cover;
margin: 0px 0px 0px 0px;
border: 3px solid #ADFF2F;
border-radius: 10px 40px;
}

.one4 {
width: 99.8%;
height: 100px;
border: 0px solid #515151;
background: url('Рисунок18.jpg');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
display: flex;
align-items: center;
justify-content: center;
background-color: rgba(0, 170, 238, 0.9);
text-align: center;
}

.item2 {position: absolute; 
color: #FF0000	;
font-weight: bold;
font-size: 30px;
font-family: 'Arial';
padding: 0px 0px 50px 0px;
 text-decoration:underline;
}

.item3 {
color: red;
font-weight: bold;
font-size: 30px;
font-family: 'Arial';
padding: 50px 20px 20px 20px;
text-decoration:double;
}


.grid-container {
display: grid;
border: solid 1px dashed;
border-radius:5px;
background-color:#FF69B4;
grid-gap:1px
gap:2px;
grid-template-areas:
"sidebar1 sidebar2 sidebar3 sidebar4"
"sidebar5 sidebar6 sidebar7 sidebar8";
text-align: center;
width:100%;
height:815px; 
justify-items:stretch;
align-items:stretch;

} 

.sidebar1 {grid-area: sidebar1;}
.sidebar2 {grid-area: sidebar2;}
.sidebar3 {grid-area: sidebar3;}
.sidebar4 {grid-area: sidebar4;}
.sidebar5 {grid-area: sidebar5;}
.sidebar6 {grid-area: sidebar6;}
.sidebar7 {grid-area: sidebar7;}
.sidebar8 {grid-area: sidebar8;}

.item {
background-color:#1E96FF;
color: #FFFFFF;
padding: 2px;
margin: 2px;
height:400px;
align-items: center;}


#image1, #image2, #image3,#image4, #image5,
#image5, #image6, #image7, #image8
{ min-width:100%;
height: 400px;
width:25%;
padding: 0px 0px  0px 0px;
object-fit: cover;}

.one5 {
width: 99.8%;
height: 100px;
border: 0px solid #515151;
background: url('Рисунок31.jpg');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
display: flex;
align-items: center;
justify-content: center;
background-color: rgba(0, 170, 238, 0.9);
text-align: center;
}

.grid-container1 {
display: grid;
border: solid 1px dashed;
border-radius:5px;
background-color:#FF69B4;
grid-gap:1px
gap:1px;
grid-template-areas:
"main1 main2 main3 main4"
"main5 main6 main7 main8"
"main9 main10 main10 main12";
text-align: center;
width:100%;
height:1215x; 
justify-items:stretch;
align-items:stretch;
} 

.main1 {grid-area: main1;}
.main2 {grid-area: main2;}
.main3 {grid-area: main3;}
.main4 {grid-area: main4;}
.main5 {grid-area: main5;}
.main6 {grid-area: main6;}
.main7 {grid-area: main7;}
.main8 {grid-area: main8;}
.main9 {grid-area: main9;}
.main10 {grid-area: main10;}
.main11 {grid-area: main11;}
.main12 {grid-area: main12;}

#image21, #image22, #image23,#image24, #image25,
#image26, #image27, #image28, #image29, #image30,
#image31
{ min-width:100%;
height: 400px;
width:25%;
padding: 0px 0px  0px 0px;
object-fit: cover;}

.item4 {
background-color:#1E96FF;
color: #FFFFFF;
padding: 10px;
margin: 0px;
height:400px;
align-items: center;
border: 3px solid #00FF00;
border-radius: 30px;
}

.one6 {
width: 100%;
height: 100px;
border: 0px solid #515151;
background: url('Рисунок43.jpg');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
display: flex;
align-items: center;
justify-content: center;
background-color: rgba(0, 170, 238, 0.9);
text-align: center;
}

.grid-container2 {
display: grid;
border: solid 3px dashed;
border-radius:5px;
background-color:#FF69B4;
grid-gap:1px;
grid-template-areas:
"head1 head2 head3 head4"
"head5 head6 head7 head8";
text-align: center;
width:100%;
height:844px; 
justify-items:stretch;
align-items:stretch;

} 

.head1 {grid-area: head1;}
.head2 {grid-area: head2;}
.head3 {grid-area: head3;}
.head4 {grid-area: head4;}
.head5 {grid-area: head5;}
.head6 {grid-area: head6;}
.head7 {grid-area: head7;}
.head8 {grid-area: head8;}

.item5 {
background-color:#FF00FF;
color: #FFFFFF;
padding: 8px;
margin: px;
height:400px;
align-items: center;
border: 3px solid #00FF00;
border-radius: 20px;
}




.one7 {
width: 100%;
height: 100px;
border: 0px solid #515151;
background: url('Рисунок52.jpg');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
display: flex;
align-items: center;
justify-content: center;
background-color: rgba(0, 170, 238, 0.9);
text-align: center;
}

.grid-container3 {
display: grid;
border: solid 3px dashed;
border-radius:5px;
background-color:#FF69B4;
grid-gap:1px;
grid-template-areas:
"flootter1 flootter2 flootter2 flootter3"
"flootter4 flootter5 flootter6 flootter7";
text-align: center;
width:100%;
height:843px; 
justify-items:stretch;
align-items:stretch;

} 

.flootter1 {grid-area: flootter1;}
.flootter2 {grid-area: flootter2;}
.flootter3 {grid-area: flootter3;}
.flootter4 {grid-area: flootter4;}
.flootter5 {grid-area: flootter5;}
.flootter6 {grid-area: flootter6;}
.flootter7 {grid-area: flootter7;}


.item6 {
background-color:#FF00FF;
color: #FFFFFF;
padding: 7px;
margin: px;
height:400px;
align-items: center;
border: 3px solid #00FF00;
border-radius: 20px;
}

.one8 {
width: 100%;
height: 100px;
border: 0px solid #515151;
background: url('Рисунок72.jpg');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
display: flex;
align-items: center;
justify-content: center;
background-color: rgba(0, 170, 238, 0.9);
text-align: center;
}

.grid-container4 {
display: grid;
border: solid 1px dashed;
border-radius:5px;
background-color:#FF69B4;
grid-gap:1px
gap:1px;
grid-template-areas:
"main12 main13 main14 main15"
"main16 main16 main17 main17"
"main18 main19 main20 main21";
text-align: center;
width:100%;
height:1215x; 
justify-items:stretch;
align-items:stretch;
} 

.main12 {grid-area: main12;}
.main13 {grid-area: main13;}
.main14 {grid-area: main14;}
.main15 {grid-area: main15;}
.main16 {grid-area: main16;}
.main17 {grid-area: main17;}
.main18 {grid-area: main18;}
.main19 {grid-area: main19;}
.main20 {grid-area: main20;}
.main21 {grid-area: main21;}

.item7 {
background-color:#FF00FF;
color: #FFFFFF;
padding: 2px 10px 10px 2px;
margin: px;
height:400px;
align-items: center;
border: 3px solid #00FF00
border-radius: 20px
}

#image61, #image62, #image63, #image64, #image65,
#image66, #image67, #image68, #image69, #image70
{ min-width:100%;
height:400px;
width:24%;
padding: 0px 0px  0px 0px;
object-fit: cover;
border: 3px solid #00FF00;
border-radius: 40px 10px;
background-color:#FF00FF;
}
#switch
{ height:40px;
width:24%;
padding: 100px 0px 0px 0px;
margin: 100px
border: 3px solid #00FF00;
border-radius: 40px 10px;
background-color:#FF00FF
text-align:center;
font-weight: bold;
font-size: 25px;
font-family: 'Verdana';
position: absolute;
color:white;
}

.one9 {
width: 100%;
height: 150px;
border: 0px solid #515151;
background: url('Рисунок73.png');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
display: flex;
align-items: center;
justify-content: center;
background-color: rgba(0, 170, 238, 0.9);
text-align: center;
color:white;
font-size: 35px;
padding: 0px 0px 50px 0px;
}

.one10 {
width: 99,6%;
height: 100px;
border: 3px solid #515151;
background: url('Рисунок74.jpg');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
display: flex;
align-items: left;
justify-content: left;
background-color: rgba(0, 170, 238, 0.9);
text-align: left;
color:black;
font-size: 35px;
padding: 0px 0px 50px 0px;
margin: 0px 0px 0px 0px;
}

#switch1
{ height:100px;
width:100%;
padding: 80px 0px 0px 0px;
margin: 100px
border: 3px solid #00FF00;
border-radius: 40px 10px;
background-color:;
text-align:left;
font-weight: normal;
font-size: 25px;
font-family: 'Verdana';
position: absolute;
color:white;

}
























.#image21 {
width: 99%;
height: 200px;
padding: 0px 0px 0px 0px
margin: 0px 0px 0px 0px
border: 3px solid #ADFF2F

.item2 {position: absolute; 
margin: 70px 10px 60px 25px;
padding:20px 25px 20px 30px;
border: 3px solid #00FF00;
border-radius:5px;
color: #FFFF00;
font-weight: normal;
font-size: 50px;
font-family: 'Arial';















..item {
background-color:#1E96FF;
color: #FFFFFF;
text-align: center;
padding: 0px;
margin: 5px;
height:515px;
align-items: center;}






.flex {
display:flex;
border: solid 3px dashed;
border-radius:5px;
background-color:yellow;
text-align: center;
height:100%;
width:100%;
word-wrap: break-word;
justify-content: space-around;
}

..one, .four {flex:1 0 auto;
background-color:#1E96FF;
color: #FFFFFF;
text-align: center;
padding: 0px;
margin: 5px;
height:515px;
align-items: center;
justify-content: space-around;}



..two, .three {flex:1 0 200px;
background-color:#1E96FF;
color: #FFFFFF;
text-align: center;
padding: 0px;
margin: 5px;}


/a {position: absolute; text-align: right;
margin: 0px 0px 0px 0px;
border: solid 3px dashed;
border-radius:5px;
color: white;
font-weight: normal;
font-size: 30px;
color: white;
font-family: 'Arial';
text-align: center;
word-wrap:break-word;
}

/#image1, #image4, #image5,#image6, #image7
{ min-width:100%;
height: 450px;
padding: 0px 0px  0px -10px;
object-fit: cover;}

/#image2, #image3 {
min-width:100%;
height: 450px;
margin: 10px 10px 10px -10px;
object-fit: cover;}

p {text-align: center;}

/#image8, #image9
{ min-width:100%;
height: 450px;
padding: 0px 0px  0px -10px;
object-fit: cover;}


/#image10 {
max-width:100%;
height: 515px;
padding: 10px 10px 10px -10px;
object-fit: cover;
width:265px; 
margin: 0px 0px 0px 0px;}

/#image11 {
max-width:100%;
height: 450px;
padding: 10px 10px 10px -10px;
object-fit: cover;
width:265px; margin: 10px;
}





./text1 {
padding: 10px 10px 10px 10px;
margin: 0px 0px 0px 0px;
word-wrap:break-word;
color: white;
}









.gradient{ background-color: yellow;}
12background: #ff0000;
background: -moz-radial-gradient(center, ellipse cover, #ff0000 0%, #00b630 30%, #6ff5f5 70%, #ffcfcf 100%);
background: -webkit-radial-gradient(center, ellipse cover, #ff0000 0%, #00b630 30%, #6ff5f5 70%, #ffcfcf 100%);
background: -o-radial-gradient(center, ellipse cover, #ff0000 0%, #00b630 30%, #6ff5f5 70%, #ffcfcf1005);
background: -ms-radial-gradient(center, ellipse cover, #ff0000 0%, #00b630 30%, #6ff5f5 70%, #ffcfcf 100%);
width: 100px;
height: 400px;
border: 1px solid #333;
 





